
<div class="container" style="margin-top:10%;" *ngIf="!signedIn">
  <h1>Signin Please</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
   
    <input type="button" class="btn btn-primary" value="Signin" (click)="loginStatus($event)" />
  </form>
</div>

<div class="app-container" *ngIf="signedIn">
<div class="pic-resource-panel WText">
  <header>
      <div class="row"><h3 class="brand-header" style="padding:0.65rem 0.55rem;">Resource Allotment <small>{{localImagePool.length}}</small></h3></div>
  </header>
    
   <div class="pic-container" >
     <div (click)="setCurrentObject(currentPic)" class="pic rounded" *ngFor="let currentPic of (getModifiedResourceList(false));">
       <div class="bag rounded"><img  src="{{currentPic.sourcePath}}" class="rounded" /></div>
     </div>          
   </div>

</div>  
<div class="console-resource-panel">
    <!-- -->  
    <div class="container"> 
  <div class="row">
    
    <div class="col">
      <div class="selection-panel-header">
      <h3>Your selected resources</h3>
      <h6 >
        <span >Only <span>{{(getModifiedResourceList(true)).length}}</span> resources selected out of {{localImagePool.length}}</span>
        <a *ngIf="(getModifiedResourceList(true)).length" href="#" (click)="resetCurrentSelectedObject()">Empty List</a>
      </h6>
      </div>
      
      <div class="preview-image-container ">
        <div class="pic" *ngFor="let selectPic of (getModifiedResourceList(true))" >
            <div class="bag round">
              <img (click)="openImagePopup(selectPic)" class="img-fluid rounded"  src="{{selectPic.sourcePath}}"/>
            </div>
            <span class="cross" (click)="resetCurrentObject(selectPic)">˟</span>
        </div>
        
      </div>      
    </div>

    <app-allotment-console [allContainers]="givenContainers" class="col" ></app-allotment-console>

    <div class="w-100"></div>    
  </div>
</div>
    <!-- -->   
</div>
</div>

<app-resource-zoom [popupImageObject]="popupImageObject" *ngIf="popupOpen"></app-resource-zoom>