
<div class="container" style="margin-top:10%;" *ngIf="!signedIn">
  <h1>Signin Please</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
   
    <input type="button" class="btn btn-primary" value="Signin" (click)="loginStatus($event)" />
  </form>
</div>

<div class="container-fluid" *ngIf="signedIn">
<div class="pic-resource-panel WText">
  <header>
      <div class="row">
          <div class="col"><h3 class="brand-header">Resource Allotment</h3></div>
          <div class="col">
            <div class="btn-group">
              <a href="#" class="btn btn-success btn-sm">Load fresh data</a>
              <a href="#" class="open-panel btn btn-info btn-sm">Open panel</a>
              <a href="#" class="btn btn-danger btn-sm">Clean & Reset </a>
              
            </div>
          </div>
      </div>
       
      
    </header>
    
   <div class="pic-container" >
     <div class="pic rounded opted-{{currentPic.opted}}" *ngFor="let currentPic of localImagePool; let i = index;">
       <div class="bag rounded">
          <img (click)="setCurrentObject(i)" src="{{currentPic.sourcePath}}" class="rounded" />
       </div>
     </div>
     
   </div>
</div>  
<div class="console-resource-panel">
    <!-- -->
    <div class="container">
  <div class="row">
    
    <div class="col">
      <h5 class="dimension-text">
        <span >
         Only <span class="text-primary">{{CurrentSelectedObjects.length}}</span> resources selected
        </span>
        <a href="#" class="btn btn-sm btn-primary" (click)="resetCurrentSelectedObject()">Empty</a>
      </h5>
      <hr/>
      <div class="preview-image-container round">
        <div class="pic" *ngFor="let selectPic of CurrentSelectedObjects">
            <div class="bag round">
              <img class="img-fluid rounded"  src="{{selectPic.sourcePath}}"/>
            </div>
        </div>
        
      </div>      
    </div>


    <div class="col form-panel" >
      <h4>Allotment options</h4>
      <hr/>
      <div class="row">
        <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                OutBox
              </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                Model
              </label>
            </div>
        </div>
      </div>  
      <hr/>

      <!-- List -->
      <ul class="list-group">
  <li class="list-group-item active">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
      <!-- List -->
<hr/>
      <div class="btn-group WText">
        <a href="#" class="btn btn-success ">Done</a>
        
      </div>
    </div>
    <div class="w-100"></div>    
  </div>
</div>
    <!-- -->   
</div>
</div>