<div>
<div class="left-console">
<h1 class="anton pT20">{{currentFolder.name}}</h1>
</div>
<br/>  

<div class="right-console"><app-alphabets (onAlphabetRequest)="furnishData({startsWith:$event})" [alphabetList]="chars"></app-alphabets></div>

      
</div>

<div class="clear"></div>

<div>
  <div class="btn-group left-console">
      <a routerLink="/album/{{getFolderLink(i)}}" *ngFor="let item of currentFolder.pathArray; index as i; " class="btn btn-sm btn-light">{{item}} / </a>
  </div>

  <div class="btn-group right-console">      
    <a class="btn btn-dark" routerLink="/album/{{this.crChildPath}}/0">first</a>
    <a *ngIf="crPageCount>0" class="btn btn-primary" routerLink="/album/{{this.crChildPath}}/{{this.paginationNavigate('previous')}}">previous</a>
    <span class="btn btn-light">{{crPageCount+1}} / {{this.filteredData.length}}</span>
    <a *ngIf="crPageCount<filteredData.length-1" class="btn btn-success" routerLink="/album/{{this.crChildPath}}/{{this.paginationNavigate('next')}}">next</a>
    <a class="btn btn-dark"  routerLink="/album/{{this.crChildPath}}/{{this.filteredData.length-1}}">last</a>
  </div>
    

  <div class="clear"></div>
</div>
<hr/>

<div>
  <div *ngFor="let albumEl of filteredData[crPageCount]; let i=index" class="col-md-3   element-box">
    <app-folder-element [serial]="i" [albumData]="albumEl" [containerFolder]="currentFolder"></app-folder-element>
  </div>
  <div>
    

  </div>
</div>
<div class="clear"></div>
<hr/>
<div class="contaniner-fluid">
  <div class="row">
     <div class="col-lg-6">
       <form>
         <div class="form-group">
           
         </div>
       </form>
     </div>
     <div class="col-lg-6">
      <div class="btn-group right-console">      
        <a class="btn btn-dark" routerLink="/album/{{this.crChildPath}}/0">first</a>
        <a *ngIf="crPageCount>0" class="btn btn-primary" routerLink="/album/{{this.crChildPath}}/{{this.paginationNavigate('previous')}}">previous</a>
        <span class="btn btn-light">{{crPageCount}}</span>
        <a *ngIf="crPageCount<filteredData.length-1" class="btn btn-success" routerLink="/album/{{this.crChildPath}}/{{this.paginationNavigate('next')}}">next</a>
        <a class="btn btn-dark"  routerLink="/album/{{this.crChildPath}}/{{this.filteredData.length-1}}">last</a>
      </div>
     </div>
  </div>
</div>
