<div class="carousel-wrap">
  <div class="carousel-view" *ngIf="this.carouselData">
    <div class="carousel-plate {{activeView}}" [style.width]="this.cStyle.W"  [style.transform]="this.getScrollPosition()">
     <div class="img-container" [ngStyle]="{'width':this.cStyle.w}" *ngFor="let photo of this.carouselData.data.resultObject">
        <img [src]="photo.accessPath"/>
     </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="carousel-console">
    <div class="container-fluid">
        <div class="btn-group">
            <button class="btn btn-dark move-right" (click)="caroselNav(false)">left</button>
            <button class="btn btn-success" (click)="toggleActiveView()">toggle view</button>
            <button class="btn btn-dark move-right" (click)="caroselNav(true)">right</button>
            <span class="btn btn-dark text-light">{{positionStatusObject.index}} out of {{positionStatusObject.total}}</span>
        </div>    
    </div>    
  </div>

</div>

<!--

  [ngStyle]="{'width':this.cStyle,'transform':'transplateX('+getScrollPosition()+')'}"
-->