<div class="col form-panel" >
      <h4>Allotment options</h4>
      <hr/>
      <div class="row">
        <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input [(ngModel)]="category" class="form-check-input" type="radio" name="categoryType" id="categoryType1" value="outbox" checked>
                OutBox
              </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input [(ngModel)]="category" class="form-check-input" type="radio" name="categoryType" id="categoryType2" value="model" checked>
                Model
              </label>
            </div>
        </div>
      </div>  
      <hr/>
     <div *ngIf="lastActiveContainer!==null" class="alert alert-warning" role="alert">
      <span>Chosen target :<strong> {{lastActiveContainer.name}}</strong>
      <strong *ngIf="this.lastActiveSubfolderName">{{" / "+this.lastActiveSubfolderName}}</strong>
     </span> &nbsp;&nbsp; <a (click)="resetActiveContaine()" href="#">Cancel</a>
     </div>

      <form *ngIf="lastActiveContainer==null" name="auto-complete-search">
        <div class="form-group">
          <input id="autoCompleteText" name="autoCompleteText" [(ngModel)]="autoCompleteText" type="search" class="form-control" placeholder="Folder name">
        </div>
      </form>    
      <!-- AUTO COMPLETE LIST :START-->
      <div *ngIf="lastActiveContainer==null">
        <div *ngFor="let listitem of (getAutoCompleteList())">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn btn-dark btn-sm" href="#" (click)="setActiveContainer(listitem,null)">{{listitem.name}}</a></li>            
          </ol>
          <ol *ngFor="let subItem of listitem.childrenDetails" class="breadcrumb">
            <li class="breadcrumb-item"><a>{{listitem.name}}</a></li>
            <li class="breadcrumb-item"><a class="btn btn-dark btn-sm"  href="#" (click)="setActiveContainer(listitem,subItem)">{{subItem}}</a></li>
          </ol> 
        </div>  
      </div>
      <!-- AUTO COMPLETE LIST :END-->
<hr/>
      <div class="btn-group WText">
        <a href="#" class="btn btn-success ">Done</a>
        
      </div>
    </div>