<div class="post-preload-wrap">
  <div class="post-preload-content">
    <h3>{{statusObject.heading}}</h3>
    <p style="text-align:center;">{{statusObject.subheading}}</p>
    
    <div class="common-preloader" *ngIf="statusObject.type!=='completed'">
      <div class="circle-conatiner n1">
          <svg><circle /></svg>    
      </div>
      <div class="circle-conatiner n2">
          <svg><circle /></svg>    
      </div>
      <div class="circle-conatiner n3">
          <svg><circle /></svg>    
      </div>
      <div class="circle-conatiner n4">
          <svg><circle /></svg>    
      </div>
    </div>

    <div *ngIf="statusObject.type==='completed'" style="text-align:center;">
        <button (click)="reInitApp()" class="btn btn-sm btn-success">Ok! got it. Go for other resources</button>
    </div>        

  </div>
</div>
