<div class="post-preload-wrap">
  <div class="post-preload-content">
    <h3>{{status}}</h3>
    <p style="text-align:center;"><small>10  resources in operation</small></p>
    <div class="common-preloader">
      <div class="circle-conatiner n1">
          <svg><circle /></svg>    
      </div>
      <div class="circle-conatiner n2">
          <svg><circle /></svg>    
      </div>
      <div class="circle-conatiner n3">
          <svg><circle /></svg>    
      </div>
      <div class="circle-conatiner n4">
          <svg><circle /></svg>    
      </div>
    </div>
  </div>
</div>
