<div class="dest-contain-wrap">
  
  <div class="container-fluid">
    <div>
    <h2>Browse</h2>
    <hr/>
  </div>
    <div class="row">
      <div class="col" *ngFor="let rootContainer of CommonUtilService.toRepeatable(givenContainers);">
        <h3>{{rootContainer.key}}</h3>
        <div *ngFor="let listitem of rootContainer.val; let i = index;">
      <ol  class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" class="btn btn-sm btn-dark">{{listitem.name}}</a>
        </li>        
      </ol>
      <ol class="breadcrumb" *ngFor="let sublistItem of listitem.childrenDetails">
        <li class="breadcrumb-item">
          <a>{{listitem.name}}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" class="btn btn-sm btn-dark">{{sublistItem}}</a>
        </li>        
      </ol>
      </div>
      </div> 
   
    </div>
  </div>
 
</div>  

<!-- 

    <div class="col">
      
    </div>

-->
