<div class="create-container-wrap">
  <!-- AUTO COMPLETE LIST :START-->
      <div class="container">
      <br/>  
      <h3>Create new </h3>   
      <div class="btn-group">
        <a href="#" class="btn btn-success btn-sm {{activeState.outbox}}" (click)="setSelectedContainer('outbox')">Outbox</a>
        <a href="#" class="btn btn-success btn-sm {{activeState.model}}" (click)="setSelectedContainer('model')">Model</a>
        
      </div>
      <span> &nbsp; Chosen conatiner is {{selectedContainer}}. You can <a href="#" (click)="close()">cancel</a> the operation.</span>
      <br/><br/>
      <div>
       <form class="form-inline">
          <div class="form-group mx-sm-3">
            <input [(ngModel)]="rootLevelFolderName" type="text" class="form-control form-control-sm" name="root-level-folder-name" id="root-level-folder-name" placeholder="Root level folder">
          </div>
          <button *ngIf="(rootLevelFolderName.trim()).length!==0" (click)="requestToCreateNewContainer(true)" class="btn btn-success btn-sm">Create</button>
        </form> 
      </div>

      </div>
      <br/>
      <div class="container" *ngIf="selectedContainer!==null">
        <div *ngFor="let listitem of (getAutoCompleteList()); let i = index;">
          <ol class="breadcrumb main-breadcrumb {{getDuplicateSubfolderClass(listitem)}}" *ngIf="listitem.isDir" >
            <li class="breadcrumb-item">
              <a class="btn btn-info btn-sm" href="#">{{listitem.name}}</a>              
            </li>
            
            <li class="breadcrumb-item">
              <input [(ngModel)]="newFolderName[listitem.name]" id="folder-name-{{listitem.name}}" name="folder-name-{{listitem.name}}"  style="width:200px;" type="text"/>
            </li>
            <li *ngIf="folderAddButtonShow(listitem.name)" class="breadcrumb-item">
              <a (click)="requestToCreateNewContainer()" class="btn btn-success btn-sm" href="#">+</a>
            </li>
          </ol>
          <ol *ngFor="let subItem of listitem.childrenDetails" class="breadcrumb">
            <li class="breadcrumb-item"><a>{{listitem.name}}</a></li>
            <li class="breadcrumb-item">{{subItem}}</li>
          </ol> 
        </div>  
      </div>
      <!-- AUTO COMPLETE LIST :END-->

      <!-- CLOSE -->
      <div class="cross-button" title="Close this" (click)="close()">
   <div class="cross"></div>
   <div class="cross"></div>
 </div>

      <!-- CLOSE -->

</div>