@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');

*{
   font-family: 'Lato', sans-serif; 
}

.open-panel{
        display:none;
    }

.WText *{
    color:white;
}

html,body{
    height:100%;
}
*[class *="-resource-panel"]{
    /*float:left;*/
    display:block;
}

.brand-header{
    font-family: 'Pacifico', cursive;
}

.scrollable{
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x: hidden;
}

.container-fluid{
    padding:0px;
    margin: 0px;
    height:100%;
}

.popupOpen-true{
    -webkit-filter: blur(2px);
}

.pic-resource-panel{
    background:#666;
    height:100%;
    width:29.6%;
    position:fixed;
    left:0px;
    top:0px; 
}

.console-resource-panel{
    min-height:100%;
    width:70%;
    margin-left:30%;
}

.console-resource-panel .container{
    min-height: 100%;
}

.selection-panel-header{
    padding: 0.65rem;
    color: #888;
}

.form-panel{
    padding:0.65rem;
}

.pic-resource-panel header{
    padding:0.65rem;
    text-align: center;
    }

.pic{
    width: 31.2%;
    height:120px;
    padding: 5px;
    background: rgba(255,255,255,0.2);
    margin: 1%;
    float:left;
    transition: all 0.3s ease-in-out;
    
}


.pic:hover{
    background:  rgba(255,255,255,0.7);
}

.bag{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

.preview-image-bg{
    background: #eeeeee;
   background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
   background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
   background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
   min-height: 100%;
}

.preview-image{
    width:100%;
    height:auto;
}

.preview-image-container{
   width: 100%;
   min-height: 100%;
   border-radius: 8px;
   border-color:#ccc; 

}

.pic:hover img{
    -webkit-filter: blur(2px);
}



.pic .bag img{
    width:100%;
    transition: all 1.5s ease-in-out;
}

.app-list.list-group .list-group-item{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.app-list.list-group .list-group-item:hover{
    background: #DFDFDF;
    color:#444;
}

.app-list.list-group .list-group-item.active{
    background:#333;
    border-color:#444;
}


.app-list .badge{
    float:right;
}

.preview-image-container .pic{
  position: relative;
  cursor:none;
}

.preview-image-container .pic:hover img{
  -webkit-filter: none;
}

.preview-image-container .pic .cross{
  position: absolute;
  width:40px;
  height: 40px;
  border-radius:70px;
  background:white;
  top:0px;
  right:0px; 
  display: block;
  text-align: center;
  font-size:30px;
  padding-top: 3px;
  color:#979797;
  cursor: pointer;
} 

.preview-image-container .pic .cross:hover{
    color:red;
}

@media screen and (max-width: 1024px){
    .pic-resource-panel{
        width: 100%;
        position:relative; 
    }

    .console-resource-panel{
        width: 100%;
        margin-left: 0px;
    }

    .pic{
        width:47.5%;
        height:200px;
    }

    .open-panel{
        display:inline-block;
    }
}