.zoom-wrap{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index:90; 
}

.zoom-image-container{
    padding:5.67rem;
    width: 100%;
    height: 100%; 
    text-align: center;
}

.zoom-image-container img{
     width: auto;
     height: 100%;
}