<div *ngIf="isDirectURL" class="direct-image-wrap">
  <img [src]="imageSource" (load)="onLoad()" class="general-photo" #photo/>        
</div>

<a *ngIf="!isDirectURL" routerLink="/photo/{{passivePath}}">
<div class="photo-wrapper">
  <div class="preloading-wrap {{loaded}}"></div>
  <div class="photo-shutter {{loaded}}">
      <img [src]="imageSource" (load)="onLoad()" class="general-photo" #photo/>
  </div>
  <div class="console-panel">
    <button class="btn btn-sm btn-success"><small>CONFIG</small></button>
  </div>
</div>
</a>

