<div class="app-conatiner">
  <nav class="navbar app-navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Allotment 2.0</a>   
    <div *ngIf="baseResponseData" class="btn-group">
      <a routerLink="{{item.accessPath}}" class="btn btn-dark" *ngFor="let item of baseResponseData.data.resultObject">{{item.file}}</a>
      <a routerLink="analyze" class="btn btn-dark">Analyze</a>
      <button class="btn btn-dark" (click)="openExplorer()">Explorer</button>
    </div>
  </nav>
  
  
  <div>
      <router-outlet></router-outlet>  
  </div>
  <app-explorer [view]="1"  (closeExplorer)="closeExplorer()" *ngIf="openExlorer"  [currentLocation]="'outbox'"></app-explorer>
</div>

